# Jacek Pietraszkiewicz 2021. Zadanie Kodilla: Wizytowka z Flaskiem
# program HTML /contakt dziedziczący z procedury parent.html
# wyświetlenie danych kontatowych oraz definicja formularza metody POST do przesłania wiadomości w zmiennej: wiadomosc

<{% extends "parent.html" %}
{% block content %}
    <h2>Kontakt</h2>
    <ul>
      <li><p class="opis"><strong>email:</strong> tralalele@kodilla.com</p>
      <li><p class="opis"><strong>telefon:</strong> +48 123 456 789</p>
    </ul>

# Formatka umożliwiająca wpisanie i wysłanie wiadomosci
    <form method = "POST">
        <label class="opis">Wyślij do mnie wiadomość:<br></label>
        <textarea name="wiadomosc" cols="50" rows="10">Tu wpisz wiadomość...</textarea>
        <button>Prześlij</button>
    </form>
{% endblock %}
