<!-- Jacek Pietraszkiewicz 2021. Zadanie Kodilla: Wizytowka z Flaskiem-->
<!-- program HTML /parent definiujący szablon "rodzica"-->

<!DOCTYPE html>
<html lang="pl">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Jacek Pietraszkiewicz</title>
    <link rel="stylesheet"  href ={{url_for('static', filename="style.css")}} >
    {% endblock %}
</head>
    <body>
    <h1> Witaj na mojej stronie domowej</h1>
    <img src="{{url_for('static',filename='jacek.jpg')}}" />
    <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
